header { padding-bottom: 30px; }

          .row.heading h2 {
            color: #000;
            font-size: 48px;
            line-height: 95px;
            text-align: center;
            margin: 0 0 30px;
        }
        ul{
          margin:0;
          padding:0;
          list-style:none;
        }
        .heading.heading-icon {
            display: block;
        }
        .padding-lg {
          display: block;
          padding-top: 60px;
          padding-bottom: 60px;
        }
        .practice-area.padding-lg {
            padding-bottom: 55px;
            padding-top: 55px;
        }
        .practice-area .inner{
             border:1px solid #999999;
           text-align:center;
           margin-bottom:28px;
           padding:40px 25px;
        }
        .our-webcoderskull .cnt-block:hover {
            box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
            border: 0;
        }
        .practice-area .inner h3{
            color:#3c3c3c;
          font-size:24px;
          font-weight:500;
          font-family: 'Poppins', sans-serif;
          padding: 10px 0;
        }
        .practice-area .inner p{
            font-size:14px;
          line-height:22px;
          font-weight:400;
        }
        .practice-area .inner img{
          display:inline-block;
        }

        .our-webcoderskull .cnt-block{
           float:left;
           width:100%;
           background:#f5f5f5;
           padding:30px 20px;
           text-align:center;
           border:2px solid #d5d5d5;
           margin: 0 0 28px;
        }
        .our-webcoderskull .cnt-block figure{
           width:148px;
           height:148px;
           border-radius:100%;
           display:inline-block;
           margin-bottom: 15px;
        }
        .our-webcoderskull .cnt-block img{
           width:148px;
           height:148px;
           border-radius:100%;
        }
        .our-webcoderskull .cnt-block h3{
           color:#2a2a2a;
           font-size:20px;
           font-weight:500;
           padding:6px 0;
        }
        .our-webcoderskull .cnt-block h3 a{
          text-decoration:none;
          color:#2a2a2a;
        }
        .our-webcoderskull .cnt-block h3 a:hover{
          color:#337ab7;
        }
        .our-webcoderskull .cnt-block p{
           color:#2a2a2a;
           font-size:13px;
           line-height:20px;
           font-weight:400;
        }
        .our-webcoderskull .cnt-block .follow-us{
          margin:20px 0 0;
        }
        .our-webcoderskull .cnt-block .follow-us li{
            display:inline-block;
          width:auto;
          margin:0 5px;
        }
        .our-webcoderskull .cnt-block .follow-us li .fa{
           font-size:24px;
           color:#767676;
        }
        .our-webcoderskull .cnt-block .follow-us li .fa:hover{
           color: #025a8e;
        }


        .section .row{
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .section .row .col-md-6{
            background: #f5f5f5;
            margin-right: -2%;
            padding: 5%;
        }
        .section h3{
            color: #004085;
        }
        .section p{
            margin-top: 10%;
            color: #545b62;
        }
        .section img
        {
            width: 100%;
        }


        .bg {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            color: #FFFFFF;
            padding: 90px 90px
            ;
        }

        .col {
            padding-left:0px;
            padding-right: 0px;
        }

        .bg-left {
            background: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed;
        }

        .bg-right {
            background: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed;
        }

        #headerbackground {
         background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/17358939_597195860478307_3881942615804102950_o.jpg?_nc_cat=103&_nc_ht=scontent-sea1-1.xx&oh=52eeb41297f0bc845115d05cd0b66077&oe=5CE12B8D") no-repeat center center fixed;
         background-size: cover;
         color: white;
         height: 65vh;
        }

        @media (max-width: 800px) {
            #ctedisplay {
               display: none;
               width: 0;
               height: 0;
            }
        }

        /*h1 {
          font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
          font-size: 30px;
          text-align: left;
          text-transform: uppercase;
          text-rendering: optimizeLegibility;
        }

        .retroshd {
          color: #2c2c2c;
          background-color: #e9ecef;
          letter-spacing: .05em;
          text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
        }
        .retroshd:hover {
            text-decoration: none;
        } */
